@media screen and (max-width: 1200px) {
  .common-section {
    width: 960px;
  }
}

@media screen and (min-width: 993px) {
  .nav {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .common-section {
    width: 720px;
  }

  .nav {
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 720px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .nav-box__item {
    display: block;
    text-align: left;
    width: 100%;

    & > a {
      line-height: 50px;
      display: inline-block;
      width: 100%;

      & > i {
        right: 10%;
      }
    }
  }

  .sub-nav {
    position: static;
    opacity: 1;
    width: 100%;
    box-shadow: 0px 0px 5px 1px gray;
  }

  .icon-box__icon:nth-of-type(1) {
    display: block;
  }

  .main-banner-title {
    width: 300px;
  }

  .sub-banner-title {
    width: 400px;
  }

  .sub-banner-title__em {
    font: {
      size: 35px;
    }
  }

  .sub-banner-title__title {
    margin-top: 20px;
  }

  .sub-banner-title__btn {
    margin-top: 25px;
  }

  .main-banner-title__title {
    font: {
      size: 35px;
    }
    line-height: 50px;
  }

  .btn-box__btn {
    height: 70px;

    & span {
      font-size: 8px;
    }

    & em {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .info-header {
    display: none;
  }
  .nav {
    width: 540px;
  }

  .main-banner {
    height: unset;
  }
  .main-banner-right {
    position: relative;
    width: 100%;
    height: unset;
    text-align: center;
  }
  .main-banner__bgi {
    position: relative;
    width: 95%;
    height: auto;
    top: unset;
    left: unset;
    transform: unset;
  }
  .main-banner-left {
    position: relative;
    width: 100%;
  }
  .main-banner-title {
    position: relative;
    width: 100%;
    top: unset;
    transform: unset;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .main-banner-title__title {
    font-size: 45px;
  }

  .common-section {
    width: 540px;
  }

  .sub-banner {
    height: unset;
  }
  .sub-banner-title {
    padding-top: 50px;
  }

  .grid--column-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .journal-box > .grid--column-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 575px) {
  .common-section {
    width: 350px;
  }
  .nav {
    width: 90vw;
  }
  .grid--column-4 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid--column-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}
