// px
$info-header-height: 50px;
$main-header-height: 85px;

// color
$light-pink: #fef7f6;
$pink: #ff5353;
$dark-blue: #5256b3;

// font
$roboto: 'Roboto', sans-serif;
$dancing-script: 'Dancing Script', cursive;
