/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.set-center, .grid-small-item > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.common-section, .info-header-box, .main-header-box, .feature-box, .popular-box, .trend-box, .journal-box, .follow-box, .footer-box {
  width: 1100px;
  margin: 0 auto;
  text-align: center; }

.section-title, .feature-box__title, .popular-box__title, .trend-box__title, .journal-box__title, .follow-box__title {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
  white-space: pre;
  font-size: 35px;
  font-weight: 600; }

.float-clear::after, .info-header-box__content::after, .contact::after, .sub-info::after {
  content: '';
  display: none;
  clear: both; }

.info-header-box__content, .contact, .sub-info {
  display: flex;
  align-items: center;
  height: 100%; }
  .info-header-box__content > span, .contact > span, .sub-info > span {
    margin: 0 8px;
    font-size: 11px;
    font-weight: 200;
    color: black; }

.pink-bubble, .icon-box__icon:nth-of-type(3)::after, .icon-box__icon:nth-of-type(4)::after {
  position: absolute;
  font-size: 10px;
  right: 0;
  top: 0;
  text-align: center;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 8px;
  background-color: #ff5353;
  color: white; }

.journal-item__anchor, .journal-item__link, .journal-item__comment {
  font-size: 15px;
  color: gray;
  cursor: pointer;
  margin-right: 20px;
  transition-duration: 0.3s;
  text-decoration: none; }
  .journal-item__anchor > i, .journal-item__link > i, .journal-item__comment > i {
    display: inline-block;
    margin-right: 5px; }
  .journal-item__anchor:hover, .journal-item__link:hover, .journal-item__comment:hover {
    color: #ff5353; }

html {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }

.hidden {
  display: none; }

.gray-line {
  border: 0.5px lightgray solid;
  margin: 25px 0; }

.info-header {
  background-color: #fef7f6;
  width: 100vw; }

.info-header-box {
  height: 50px; }

.contact {
  float: left; }

.sub-info {
  float: right; }

.main-header {
  position: relative;
  width: 100vw;
  background-color: white; }

.main-header-box {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-box__item {
  position: relative;
  display: inline-block;
  cursor: pointer; }
  .nav-box__item > a {
    position: relative;
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
    font-size: 13px;
    font-weight: 500;
    padding: 0 15px;
    line-height: 85px; }
    .nav-box__item > a > i {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12px;
      cursor: pointer; }
  .nav-box__item:hover > a {
    color: #ff5353; }
  .nav-box__item:nth-of-type(1):hover > .sub-nav {
    opacity: 1; }

.sub-nav {
  position: absolute;
  opacity: 0;
  transition-duration: 0.5s;
  top: 100%;
  left: 0;
  width: 230px;
  background-color: white;
  z-index: 1; }

.sub-nav__item {
  width: 100%;
  height: 50px; }
  .sub-nav__item > a {
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
    font-size: 13px;
    font-weight: 500;
    padding: 0 15px;
    line-height: 50px; }
  .sub-nav__item:hover > a {
    color: #ff5353; }

.icon-box__icon {
  position: relative;
  float: left;
  cursor: pointer;
  padding: 10px;
  transition-duration: 0.5s;
  font-size: 18px; }
  .icon-box__icon:hover {
    color: #ff5353; }
  .icon-box__icon:nth-of-type(1) {
    display: none; }
  .icon-box__icon:nth-of-type(3)::after {
    content: '0'; }
  .icon-box__icon:nth-of-type(4)::after {
    content: '09'; }

.main-banner {
  position: relative;
  width: 100vw;
  height: 36vw;
  background-image: url(/images/bg-1.jpg);
  background-size: cover; }

.main-banner-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%; }

.main-banner-title, .sub-banner-title {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 500px;
  text-align: center; }

.main-banner-title__sub {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #565656;
  margin-bottom: 10px; }

.main-banner-title__title {
  font-size: 60px;
  font-weight: 500;
  line-height: 70px; }

.main-banner-title__btn, .sub-banner-title__btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  padding: 18px 45px;
  color: white;
  background-color: #ff5353;
  border-radius: 3px;
  text-decoration: none;
  margin-top: 45px;
  transition-duration: 0.5s;
  border: none; }
  .main-banner-title__btn:hover, .sub-banner-title__btn:hover {
    background-color: white;
    color: #5256b3; }

.main-banner-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%; }

.main-banner__bgi, .sub-banner__bgi {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  overflow: hidden; }

.feature {
  width: 100vw;
  margin-bottom: 50px; }

.grid {
  display: grid;
  grid-gap: 30px; }

.grid--column-3 {
  grid-template-columns: repeat(3, 1fr); }

.grid--column-4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-item:hover .product-icon {
  margin-top: 25px;
  opacity: 1;
  visibility: visible; }

.product-box {
  position: relative; }

.product-box__img {
  width: 100%;
  height: auto; }

.product-icon-box {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: calc(150px + 2px * 6); }

.product-icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  opacity: 0;
  margin: 0 2px;
  margin-top: 50px;
  float: left;
  transition: color 0.5s, background-color 0.5s;
  cursor: pointer;
  visibility: hidden; }
  .product-icon:nth-of-type(1) {
    transition: color 0.5s, background-color 0.5s, opacity 0.1s, margin 0.3s 0s; }
  .product-icon:nth-of-type(2) {
    transition: color 0.5s, background-color 0.5s, opacity 0.1s, margin 0.3s 0.1s; }
  .product-icon:nth-of-type(3) {
    transition: color 0.5s, background-color 0.5s, opacity 0.1s, margin 0.3s 0.2s; }
  .product-icon > i {
    line-height: 50px; }
  .product-icon:hover {
    background-color: #ff5353;
    color: white; }

.grid-item__title {
  display: inline-block;
  color: gray;
  font-size: 15px;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.3s; }
  .grid-item__title:hover {
    color: #ff5353; }

.star-icon {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  color: #ff5353;
  margin: 10px 0; }

.grid-item__price {
  font-size: 19px;
  font-weight: 500; }

.sub-banner {
  position: relative;
  width: 100vw;
  height: 30vw;
  background-color: #eae2d8; }

.sub-banner-title__em {
  font-size: 60px;
  font-weight: bold;
  font-family: "Dancing Script", cursive; }

.sub-banner-title__title {
  font-size: 25px;
  font-weight: 100;
  margin-top: 35px; }

.popular {
  width: 100vw; }

.popular-box .grid {
  margin: 100px 0; }

.grid-item--border {
  border: 1px solid #eeeeee;
  padding: 20px 0; }

.grid-item__icon {
  display: block;
  margin: 10px auto;
  margin-bottom: 30px; }

.grid-item__em {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin: 15px 0; }

.grid-item__sub {
  color: gray;
  font-size: 15px; }

.trend {
  width: 100vw; }

.journal {
  width: 100vw;
  margin-top: 120px; }

.journal-box {
  text-align: left; }

.journal-item__img {
  width: 100%;
  height: auto;
  margin-bottom: 20px; }

.journal-item__date {
  color: gray;
  font-size: 14px;
  line-height: 25px;
  transition-duration: 0.3s;
  cursor: pointer; }
  .journal-item__date:hover {
    color: #ff5353; }
  .journal-item__date::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 6px;
    margin-right: 7px;
    margin-bottom: 2px;
    background-color: #ff5353;
    border-radius: 2px; }

.journal-item__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  transition-duration: 0.3s;
  cursor: pointer; }
  .journal-item__title:hover {
    color: #ff5353; }

.follow {
  width: 100vw; }

.grid-small-item {
  position: relative;
  width: 100%;
  cursor: pointer; }
  .grid-small-item > i {
    color: white;
    font-size: 30px;
    opacity: 0;
    transition-duration: 0.2s; }
  .grid-small-item:hover > .grid-small-layout {
    height: 100%;
    opacity: 0.6; }
  .grid-small-item:hover > i {
    opacity: 1; }

.grid-small-item__bgi {
  width: 100%;
  height: auto; }

.grid-small-layout {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 85%;
  background-color: #ff5353;
  transition: opacity 0.2s, height 0.4s;
  opacity: 0; }

.footer {
  width: 100vw;
  background-color: #e9e2d8;
  margin-top: 50px; }

.footer-box {
  padding-top: 80px;
  text-align: left; }

.footer-link {
  margin-bottom: 60px; }

.footer-link__title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px; }

.footer-link__link {
  text-decoration: none;
  color: #888888;
  display: block;
  line-height: 30px;
  font-size: 14px;
  transition-duration: 0.3s; }
  .footer-link__link:hover {
    color: #ff5353; }

.btn-box {
  display: flex;
  justify-content: space-between; }

.btn-box__btn {
  display: flex;
  align-items: center;
  width: 49%;
  height: 50px;
  background-color: white;
  text-decoration: none;
  border-radius: 3px;
  transition-duration: 0.3s; }
  .btn-box__btn i {
    line-height: 50px;
    font-size: 20px;
    margin: 0 8px;
    color: #ff5353; }
  .btn-box__btn span {
    display: block;
    width: 100%;
    color: #888888;
    font-size: 10px; }
  .btn-box__btn em {
    font-size: 12px;
    font-weight: 500;
    color: black; }

.btn-box__btn--reverse, .btn-box__btn:hover {
  background-color: #ff5353; }
  .btn-box__btn--reverse i, .btn-box__btn:hover i {
    color: white; }
  .btn-box__btn--reverse span, .btn-box__btn:hover span {
    color: white; }
  .btn-box__btn--reverse em, .btn-box__btn:hover em {
    color: white; }

.footer-link__sns {
  width: 30px;
  height: 30px;
  background-color: white;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin-right: 5px;
  color: black;
  transition-duration: 0.3s; }
  .footer-link__sns i {
    font-size: 14px;
    line-height: 30px; }
  .footer-link__sns:hover {
    color: white;
    background-color: #ff5353; }

.footer-box__copyright {
  text-align: center;
  color: #888888;
  padding-bottom: 25px;
  font-size: 14px; }
  .footer-box__copyright a {
    color: #ff5353;
    text-decoration: none; }

@media screen and (max-width: 1200px) {
  .common-section, .info-header-box, .main-header-box, .feature-box, .popular-box, .trend-box, .journal-box, .follow-box, .footer-box {
    width: 960px; } }

@media screen and (min-width: 993px) {
  .nav {
    display: block; } }

@media screen and (max-width: 992px) {
  .common-section, .info-header-box, .main-header-box, .feature-box, .popular-box, .trend-box, .journal-box, .follow-box, .footer-box {
    width: 720px; }
  .nav {
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 720px;
    display: none;
    background-color: white;
    overflow: hidden; }
  .nav-box__item {
    display: block;
    text-align: left;
    width: 100%; }
    .nav-box__item > a {
      line-height: 50px;
      display: inline-block;
      width: 100%; }
      .nav-box__item > a > i {
        right: 10%; }
  .sub-nav {
    position: static;
    opacity: 1;
    width: 100%;
    box-shadow: 0px 0px 5px 1px gray; }
  .icon-box__icon:nth-of-type(1) {
    display: block; }
  .main-banner-title, .sub-banner-title {
    width: 300px; }
  .sub-banner-title {
    width: 400px; }
  .sub-banner-title__em {
    font-size: 35px; }
  .sub-banner-title__title {
    margin-top: 20px; }
  .sub-banner-title__btn {
    margin-top: 25px; }
  .main-banner-title__title {
    font-size: 35px;
    line-height: 50px; }
  .btn-box__btn {
    height: 70px; }
    .btn-box__btn span {
      font-size: 8px; }
    .btn-box__btn em {
      font-size: 10px; } }

@media screen and (max-width: 767px) {
  .info-header {
    display: none; }
  .nav {
    width: 540px; }
  .main-banner {
    height: unset; }
  .main-banner-right {
    position: relative;
    width: 100%;
    height: unset;
    text-align: center; }
  .main-banner__bgi, .sub-banner__bgi {
    position: relative;
    width: 95%;
    height: auto;
    top: unset;
    left: unset;
    transform: unset; }
  .main-banner-left {
    position: relative;
    width: 100%; }
  .main-banner-title, .sub-banner-title {
    position: relative;
    width: 100%;
    top: unset;
    transform: unset;
    margin-top: 50px;
    padding-bottom: 50px; }
  .main-banner-title__title {
    font-size: 45px; }
  .common-section, .info-header-box, .main-header-box, .feature-box, .popular-box, .trend-box, .journal-box, .follow-box, .footer-box {
    width: 540px; }
  .sub-banner {
    height: unset; }
  .sub-banner-title {
    padding-top: 50px; }
  .grid--column-4 {
    grid-template-columns: repeat(2, 1fr); }
  .journal-box > .grid--column-3 {
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 575px) {
  .common-section, .info-header-box, .main-header-box, .feature-box, .popular-box, .trend-box, .journal-box, .follow-box, .footer-box {
    width: 350px; }
  .nav {
    width: 90vw; }
  .grid--column-4 {
    grid-template-columns: repeat(1, 1fr); }
  .grid--column-3 {
    grid-template-columns: repeat(1, 1fr); } }
